# these rules are used to determine whether roads joining a roundabout are to be considered roundabout flares
max-flare-length:200 # maximum length of a flare in metres
max-flare-length-multiple:3 # maximum length of one flare compared to the other
max-flare-to-separation-multiple:7 # maximum length of flare compared to flare separation
flare-separation-override:5 # use this figure as the separation in metres with max-flare-to-separation-multiple if the flare separation is smaller
max-flare-angle:90 # maximum angle between the flares at the point where they meet
max-flare-bearing:90 # maximum angle between the bearings where the flares meet the roundabout
max-entry-angle:145 # maximum angle at the centre of the roundabout between the two flares
discard-both-flares-extend:true # discard flares where both extend beyond the point where they meet
discard-multiple-flares:true # discard flares where there are two flares joined
discard-different-flare-names:true # discard flares where they have different names
discard-different-accesses:true # discard flares where they have different accesses
